body {
  margin: 0;
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

blockquote {
  padding: 0;
}

.row {
  margin: 0;
  max-width: 100%;
}

#alert-markdown-help, #toLoad-alert{
  top:50px;
  left:30%;
  width: 45%;
  display: none;
  text-align: center;
  z-index: 9999;
  position: fixed;
  padding: 0;
}

.column{
  padding-top: 7px;
  padding-bottom: 7px;
}

.alert-box .close {
  top: 10px;
  opacity:1;
}

#div-help-markdown {
  text-align: right;
}

#editor {
  height: 70vh;
}

#output {
  overflow-y: scroll;
  height: 70vh;
}

a {
  color: #3D3D3D;
}

a:link {
  color: #3D3D3D;
}

a:hover {
  color: #1D1F21;
}

a:active {
  color: #1D1F21;
}

a:visited {
  color: #3D3D3D;
}
