<div id="chEditor-alert" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="row collapse">
    <h3>Properties</h3>
    <label>Editor theme:
      <select name="chthemes" id="chthemes">
        <option value="3024-day">3024-day</option>
        <option value="3024-night">3024-night</option>
        <option value="abcdef">abcdef</option>
        <option value="ambiance">ambiance</option>
        <option value="base16-dark">base16-dark</option>
        <option value="base16-light">base16-light</option>
        <option value="bespin">bespin</option>
        <option value="blackboard">blackboard</option>
        <option value="cobalt">cobalt</option>
        <option value="colorforth">colorforth</option>
        <option value="darcula">darcula</option>
        <option value="dracula">dracula</option>
        <option value="duotone-dark">duotone-dark</option>
        <option value="duotone-light">duotone-light</option>
        <option value="eclipse">eclipse</option>
        <option value="elegant">elegant</option>
        <option value="erlang-dark">erlang-dark</option>
        <option value="gruvbox-dark">gruvbox-dark</option>
        <option value="hopscotch">hopscotch</option>
        <option value="icecoder">icecoder</option>
        <option value="idea">idea</option>
        <option value="isotope">isotope</option>
        <option value="lesser-dark">lesser-dark</option>
        <option value="lucario">lucario</option>
        <option value="liquibyte">liquibyte</option>
        <option value="material" selected="selected">material</option>
        <option value="mbo">mbo</option>
        <option value="mdn-like">mdn-like</option>
        <option value="midnight">midnight</option>
        <option value="monokai">monokai</option>
        <option value="neat">neat</option>
        <option value="neo">neo</option>
        <option value="night">night</option>
        <option value="oceanic-next">oceanic-next</option>
        <option value="panda-syntax">panda-syntax</option>
        <option value="paraiso-dark">paraiso-dark</option>
        <option value="paraiso-light">paraiso-light</option>
        <option value="pastel-on-dark">pastel-on-dark</option>
        <option value="railscasts">railscasts</option>
        <option value="rubyblue">rubyblue</option>
        <option value="seti">seti</option>
        <option value="shadowfox">shadowfox</option>
        <option value="solarized">solarized</option>
        <option value="ssms">ssms</option>
        <option value="the-matrix">the-matrix</option>
        <option value="tomorrow-night-bright">tomorrow-night-bright</option>
        <option value="tomorrow-night-eighties">tomorrow-night-eighties</option>
        <option value="ttcn">ttcn</option>
        <option value="twilight">twilight</option>
        <option value="vibrant-ink">vibrant-ink</option>
        <option value="xq-dark">xq-dark</option>
        <option value="xq-light">xq-light</option>
        <option value="yeti">yeti</option>
        <option value="zenburn">zenburn</option>
      </select>
    </label>

    <label>Font size:
      <select id="chsize" name="chsize">
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="22">22</option>
        <option value="24">24</option>
        <option value="26">26</option>
        <option value="28">28</option>
        <option value="32">32</option>
        <option value="36">36</option>
        <option value="40">40</option>
        <option value="44">44</option>
        <option value="48">48</option>
        <option value="54">54</option>
        <option value="60">60</option>
        <option value="66">66</option>
        <option value="72">72</option>
      </select>
    </label>

    <label>Highlighting theme:
      <select name="chhighlightthemes" id="chhighlightthemes">
        <option value="a11y-dark">a11y-dark</option>
        <option value="a11y-light">a11y-light</option>
        <option value="agate">agate</option>
        <option value="an-old-hope">an-old-hope</option>
        <option value="androidstudio">androidstudio</option>
        <option value="arduino-light">arduino-light</option>
        <option value="arta">arta</option>
        <option value="ascetic">ascetic</option>
        <option value="atelier-cave-dark">atelier-cave-dark</option>
        <option value="atelier-cave-light">atelier-cave-light</option>
        <option value="atelier-dune-dark">atelier-dune-dark</option>
        <option value="atelier-dune-light">atelier-dune-light</option>
        <option value="atelier-estuary-dark">atelier-estuary-dark</option>
        <option value="atelier-estuary-light">atelier-estuary-light</option>
        <option value="atelier-forest-dark">atelier-forest-dark</option>
        <option value="atelier-forest-dark">atelier-forest-light</option>
        <option value="atelier-heath-dark">atelier-heath-dark</option>
        <option value="atelier-heath-light">atelier-heath-light</option>
        <option value="atelier-lakeside-dark">atelier-lakeside-dark</option>
        <option value="atelier-lakeside-light">atelier-lakeside-light</option>
        <option value="atelier-plateau-dark">atelier-plateau-dark</option>
        <option value="atelier-plateau-light">atelier-plateau-light</option>
        <option value="atelier-savanna-dark">atelier-savanna-dark</option>
        <option value="atelier-savanna-light">atelier-savanna-light</option>
        <option value="atelier-seaside-dark">atelier-seaside-dark</option>
        <option value="atelier-seaside-light">atelier-seaside-light</option>
        <option value="atelier-sulphurpool-dark">atelier-sulphurpool-dark</option>
        <option value="atelier-sulphurpool-light">atelier-sulphurpool-light</option>
        <option value="atom-one-dark-reasonable">atom-one-dark-reasonable</option>
        <option value="atom-one-dark">atom-one-dark</option>
        <option value="atom-one-light">atom-one-light</option>
        <option value="brown-paper">brown-paper</option>
        <option value="codepen-embed">codepen-embed</option>
        <option value="color-brewer">color-brewer</option>
        <option value="darcula">darcula</option>
        <option value="dark">dark</option>
        <option value="darkula">darkula</option>
        <option value="default">default</option>
        <option value="docco">docco</option>
        <option value="dracula">dracula</option>
        <option value="far">far</option>
        <option value="foundation">foundation</option>
        <option value="github">github</option>
        <option value="github-gist">github-gist</option>
        <option value="gml">gml</option>
        <option value="googlecode">googlecode</option>
        <option value="grayscale">grayscale</option>
        <option value="gruvbox-dark">gruvbox-dark</option>
        <option value="gruvbox-light">gruvbox-light</option>
        <option value="hopscotch">hopscotch</option>
        <option value="hybrid">hybrid</option>
        <option value="idea">idea</option>
        <option value="ir-black">ir-black</option>
        <option value="isbl-editor-dark">isbl-editor-dark</option>
        <option value="isbl-editor-light">isbl-editor-light</option>
        <option value="kimbie.dark">kimbie.dark</option>
        <option value="kimbie.light">kimbie.light</option>
        <option value="lightfair">lightfair</option>
        <option value="magula">magula</option>
        <option value="mono-blue">mono-blue</option>
        <option value="monokai">monokai</option>
        <option value="monokai-sublime">monokai-sublime</option>
        <option value="nord">nord</option>
        <option value="obsidian">obsidian</option>
        <option value="ocean">ocean</option>
        <option value="paraiso-dark">paraiso-dark</option>
        <option value="paraiso-light">paraiso-light</option>
        <option value="pojoaque">pojoaque</option>
        <option value="purebasic">purebasic</option>
        <option value="qtcreator_dark">qtcreator_dark</option>
        <option value="qtcreator_light">qtcreator_light</option>
        <option value="railscasts">railscasts</option>
        <option value="rainbow">rainbow</option>
        <option value="routeros">routeros</option>
        <option value="school-book">school-book</option>
        <option value="shades-of-purple">shades-of-purple</option>
        <option value="solarized-dark">solarized-dark</option>
        <option value="solarized-light">solarized-light</option>
        <option value="sunburst">sunburst</option>
        <option value="tomorrow">tomorrow</option>
        <option value="tomorrow-night">tomorrow-night</option>
        <option value="tomorrow-night-blue">tomorrow-night-blue</option>
        <option value="tomorrow-night-bright">tomorrow-night-bright</option>
        <option value="tomorrow-night-eighties">tomorrow-night-eighties</option>
        <option value="vs">vs</option>
        <option value="vs2015">vs2015</option>
        <option value="xcode">xcode</option>
        <option value="xt256">xt256</option>
        <option value="zenburn">zenburn</option>
      </select>
    </label>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="tumblr-alert" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3>Publish in Tumblr</h3>
  <a class="button js-external-link" id="tumblr-embed" href="" target="_blank">Enter here!</a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="blogger-alert" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3>Publish in Blogger</h3>
  <input type="text" id="bloggerUrl">
  <a class="button js-external-link" id="blogger-send" href="" target="_blank">Send</a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="email-alert" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3>Send Email</h3>

  <div class="row collapse">
    <label for="">To:</label>
    <div class="small-3 large-2 columns">
      <span class="prefix"><i class="fa fa-envelope"></i></span>
    </div>
    <div class="small-9 large-10 columns">
      <input id="to" type="text" required pattern="email" placeholder="Reciver's email address">
    </div>
  </div>

  <label for="">From:</label>
  <div class="row collapse">
    <div class="small-3 large-2 columns">
      <span class="prefix"><i class="fa fa-envelope"></i></span>
    </div>
    <div class="small-9 large-10 columns">
      <input id="from" type="text" required placeholder="Email address (only Gmail/Outlook/Yahoo)">
    </div>
  </div>

  <label for="">Password:</label>
  <div class="row collapse">
    <div class="small-3 large-2 columns">
      <span class="prefix"><i class="fa fa-lock"></i></span>
    </div>
    <div class="small-9 large-10 columns">
      <input id="password" type="password" required placeholder="Your password">
    </div>
  </div>

  <a class="button" id="send-email" href="" target="_blank">Send</a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="reveal-about" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

  <div class="row">
    <h2><img src="./assets/icon.png" alt=""> About MDWriter</h2>
    <p>18.09.1</p>
    <br>
    <span>
      <p>A modern Markdown editor powered by the web.</p>
    </span>

    <div class="small-12 columns">
      <a href="bitcoin:19bAJaFzHRTYPW5SrbzzfPbZ5jLAEotCVa?amount=0.0016&label=support MDWriter&message=Hi, thanks for create MDWriter!"><img src="./assets/bitcoin.svg" alt="bitcoin-btn"></a>
    </div>

    <div class="small-4 columns">
      <small>
        <i class="fa fa-envelope"></i><a href="mailto:alexanderarmuelles@riseup.net"> alexanderarmuelles@riseup.net</a>
      </small>
    </div>
    <div class="small-4 columns">
      <small class="js-external-link">
        <i class="fab fa-twitter"></i><a href="https://twitter.com/raaztux"> https://twitter.com/raaztux</a>
      </small>
    </div>
    <div class="small-4 columns">
      <small class="js-external-link">
        <i class="fab fa-github"></i><a href="https://github.com/kurai021"> https://github.com/kurai021</a>
      </small>
    </div>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
