<div id="alert-markdown-help" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#markdown-syntax">Markdown Syntax</a></li>
    <li class="tab-title"><a href="#emoji-shortcuts">Emoji shortcuts</a></li>
  </ul>

  <div class="tabs-content">
    <div class="content active" id="markdown-syntax">

      <h4>Markdown Syntax</h4>
      <div class="syntax">

        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><b>Result</b>
          </div>
          <div class="small-4 medium-4 large-4 columns"><b>Syntax</b>
          </div>
          <div class="small-4 medium-4 large-4 columns"><b>Shortcut</b>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><b>Bold</b>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>**text**</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>Ctrl/⌘ + B</span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><i>Emphasize</i>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>*text*</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>Ctrl/⌘ + I</span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><del>Strike-through</del>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>~~text~~</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>Ctrl + Alt + U</span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><a>Link</a>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>[title](http://)</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>Ctrl/⌘ + K</span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><pre>Inline Code</pre>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>`code`</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>Alt + K</span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><span>Image</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>![alt](http://)</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>Alt + I</span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns">
            <li>List</li>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>* item</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>Ctrl + L</span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns">
            <blockquote>Blockquote</blockquote>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>> quote</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>Ctrl + Q</span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><span>H1</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span># Heading</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>Ctrl + Alt + 1</span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><span>H2</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>## Heading</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>Ctrl + Alt + 2</span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><span>H3</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>### Heading</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span>Ctrl + Alt + 3</span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><span>[ ]</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span><i class="fa fa-square"></i></span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span></span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><span>[x]</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span><i class="fa fa-check-square"></i></span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span></span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><span>( )</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span><i class="fa fa-circle"></i></span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span></span>
          </div>
        </div>
        <div class="column">
          <div class="small-4 medium-4 large-4 columns"><span>(x)</span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span><i class="fa fa-check-circle"></i></span>
          </div>
          <div class="small-4 medium-4 large-4 columns"><span></span>
          </div>
        </div>

      </div>

    </div>

    <div class="content" id="emoji-shortcuts">

      <h4>Emoji Shortcuts</h4>

      <div class="emoji-list">
        <div class="column">
          <div class="small-6 medium-6 large-6 columns">
            <ul>
              <li>:grinning:</li>
              <li>:grin:</li>
              <li>:joy:</li>
              <li>:smiley:</li>
              <li>:smile:</li>
              <li>:sweat_smile:</li>
              <li>:satisfied:</li>
              <li>:innocent:</li>
              <li>:smiling_imp:</li>
              <li>:wink:</li>
              <li>:blush:</li>
              <li>:yum:</li>
              <li>:relieved:</li>
              <li>:heart_eyes:</li>
              <li>:sunglasses:</li>
              <li>:smirk:</li>
              <li>:neutral_face:</li>
              <li>:expressionless:</li>
              <li>:unamused:</li>
              <li>:sweat:</li>
              <li>:pensive:</li>
              <li>:confused:</li>
              <li>:confounded:</li>
              <li>:kissing:</li>
              <li>:kissing_heart:</li>
              <li>:kissing_smiling_eyes:</li>
              <li>:kissing_closed_eyes:</li>
              <li>:stuck_out_tongue:</li>
              <li>:stuck_out_tongue_winking_eye:</li>
              <li>:stuck_out_tongue_closed_eyes:</li>
              <li>:disappointed:</li>
              <li>:worried:</li>
              <li>:angry:</li>
              <li>:rage:</li>
              <li>:cry:</li>
              <li>:persevere:</li>
              <li>:triumph:</li>
              <li>:disappointed_relieved:</li>
              <li>:frowning:</li>
              <li>:anguished:</li>
              <li>:fearful:</li>
              <li>:weary:</li>
              <li>:sleepy:</li>
              <li>:tired_face:</li>
              <li>:grimacing:</li>
              <li>:sob:</li>
              <li>:open_mouth:</li>
              <li>:hushed:</li>
              <li>:cold_sweat:</li>
              <li>:scream:</li>
              <li>:astonished:</li>
              <li>:flushed:</li>
              <li>:sleeping:</li>
              <li>:dizzy_face:</li>
              <li>:no_mouth:</li>
              <li>:mask:</li>
              <li>:smile_cat:</li>
              <li>:joy_cat:</li>
              <li>:smiley_cat:</li>
              <li>:heart cat:</li>
              <li>:smile cat:</li>
              <li>:heart_eyes_cat:</li>
              <li>:pouting_cat:</li>
              <li>:crying_cat_face:</li>
              <li>:scream_cat:</li>
            </ul>
          </div>
          <div class="small-6 medium-6 large-6 columns">
            <ul>
              <li>😀</li>
              <li>😁</li>
              <li>😂</li>
              <li>😃</li>
              <li>😄</li>
              <li>😅</li>
              <li>😆</li>
              <li>😇</li>
              <li>😈</li>
              <li>😉</li>
              <li>😊</li>
              <li>😋</li>
              <li>😌</li>
              <li>😍</li>
              <li>😎</li>
              <li>😏</li>
              <li>😐</li>
              <li>😑</li>
              <li>😒</li>
              <li>😓</li>
              <li>😔</li>
              <li>😕</li>
              <li>😖</li>
              <li>😗</li>
              <li>😘</li>
              <li>😙</li>
              <li>😚</li>
              <li>😛</li>
              <li>😜</li>
              <li>😝</li>
              <li>😞</li>
              <li>😟</li>
              <li>😠</li>
              <li>😡</li>
              <li>😢</li>
              <li>😣</li>
              <li>😤</li>
              <li>😥</li>
              <li>😦</li>
              <li>😧</li>
              <li>😨</li>
              <li>😩</li>
              <li>😪</li>
              <li>😫</li>
              <li>😬</li>
              <li>😭</li>
              <li>😮</li>
              <li>😯</li>
              <li>😰</li>
              <li>😱</li>
              <li>😲</li>
              <li>😳</li>
              <li>😴</li>
              <li>😵</li>
              <li>😶</li>
              <li>😷</li>
              <li>😸</li>
              <li>😹</li>
              <li>😺</li>
              <li>😻</li>
              <li>😼</li>
              <li>😽</li>
              <li>😾</li>
              <li>😿</li>
              <li>🙀</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</div>
