<div id="alert-markdown-help" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h4>Markdown Syntax</h4>
  <div class="syntax">

    <div class="column">
      <div class="small-4 medium-4 large-4 columns"><b>Result</b>
      </div>
      <div class="small-4 medium-4 large-4 columns"><b>Syntax</b>
      </div>
      <div class="small-4 medium-4 large-4 columns"><b>Shortcut</b>
      </div>
    </div>
    <div class="column">
      <div class="small-4 medium-4 large-4 columns"><b>Bold</b>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>**text**</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>Ctrl/⌘ + B</span>
      </div>
    </div>
    <div class="column">
      <div class="small-4 medium-4 large-4 columns"><i>Emphasize</i>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>*text*</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>Ctrl/⌘ + I</span>
      </div>
    </div>
    <div class="column">
      <div class="small-4 medium-4 large-4 columns"><del>Strike-through</del>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>~~text~~</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>Ctrl + Alt + U</span>
      </div>
    </div>
    <div class="column">
      <div class="small-4 medium-4 large-4 columns"><a>Link</a>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>[title](http://)</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>Ctrl/⌘ + K</span>
      </div>
    </div>
    <div class="column">
      <div class="small-4 medium-4 large-4 columns"><pre>Inline Code</pre>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>`code`</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>Alt + K</span>
      </div>
    </div>
    <div class="column">
      <div class="small-4 medium-4 large-4 columns"><span>Image</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>![alt](http://)</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>Alt + I</span>
      </div>
    </div>
    <div class="column">
      <div class="small-4 medium-4 large-4 columns">
        <li>List</li>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>* item</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>Ctrl + L</span>
      </div>
    </div>
    <div class="column">
      <div class="small-4 medium-4 large-4 columns">
        <blockquote>Blockquote</blockquote>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>> quote</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>Ctrl + Q</span>
      </div>
    </div>
    <div class="column">
      <div class="small-4 medium-4 large-4 columns"><span>H1</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span># Heading</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>Ctrl + Alt + 1</span>
      </div>
    </div>
    <div class="column">
      <div class="small-4 medium-4 large-4 columns"><span>H2</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>## Heading</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>Ctrl + Alt + 2</span>
      </div>
    </div>
    <div class="column">
      <div class="small-4 medium-4 large-4 columns"><span>H3</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>### Heading</span>
      </div>
      <div class="small-4 medium-4 large-4 columns"><span>Ctrl + Alt + 3</span>
      </div>
    </div>

  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
