<script>
  $(document).foundation();
</script>

<script>
hljs.initHighlightingOnLoad();
</script>

<script src="assets/js/window.js"></script>
<script src="assets/js/markdown-help.js"></script>
<script src="assets/js/markdown.js"></script>
<script src="assets/js/keymap_function.js"></script>
<script src="assets/js/toPDF.js"></script>
<script src="assets/js/word-counter.js"></script>
<script src="assets/js/file.js"></script>
<script src="assets/js/publish.js"></script>
<script src="assets/js/mail.js"></script>
