<script>
  $(document).foundation();
</script>

<script>
hljs.initHighlightingOnLoad();
</script>

<script type="text/javascript">
  $(function(){
    $(".reveal-modal").draggable();
  });
</script>

<script type="text/javascript">
MathJax.Hub.Config({
  extensions: ["tex2jax.js"],
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
    displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
    processEscapes: true
  },
  "HTML-CSS": { fonts: ["TeX"] }
});
</script>

<script src="assets/js/window.js"></script>
<script src="assets/js/markdown.js"></script>
<script src="assets/js/keymap_function.js"></script>
<script src="assets/js/toPDF.js"></script>
<script src="assets/js/toDOCX.js"></script>
<script src="assets/js/word-counter.js"></script>
<script src="assets/js/file.js"></script>
<script src="assets/js/publish.js"></script>
<script src="assets/js/mail.js"></script>
