@font-face {
  font-family: EmojiOne;
  src: url(EmojiOne.ttf);
}

.emoji {
  font-family: EmojiOne;
  font-weight: bold;
  font-size: 26px;
}

.emoji-img {
  width: 26px;
  height: auto;
}

#alert-markdown-help .emoji-list li{
  font-family: EmojiOne;
  font-size: 20px;
}
