body {
  margin: 0;
  background: #fafafa;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  overflow-y: hidden;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
    border-bottom: 1px solid #e0e0e0 !important;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: 0.5rem;
    border: 0 !important;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: none;
    border-radius: 2px;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
  border-bottom: 2px solid #636E73 !important;
  position: relative;
  top: 1px;
  background: transparent;
}

span.postfix,
label.postfix {
  border-left: solid 1px #cccccc;
}

span.prefix,
label.prefix {
  border-right: solid 1px #cccccc;
}

blockquote {
  padding: 0;
}

select {
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}

.tab-bar .left-small .menu-icon {
  -webkit-app-region: no-drag;
}

.tab-bar .middle .title {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.tab-bar {
  background-color: #636E73;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
}

.left-off-canvas-menu {
  background-color: #636E73;
  height: 100vh;
}

.left-small {
  border-right: solid 1px #636E73;
}

ul.off-canvas-list li a {
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
}

ul.off-canvas-list li label {
  border-top: none;
  border-bottom: 1px solid #828B8F;
  background-color: #636E73;
  color: #fff;
  text-transform: none;
}

ul.off-canvas-list li .fa {
  margin-right: 16px;
  font-size: 20px;
}

#view-editor {
  margin-top: 2vh;
}

@keyframes aniborder{
  0% {border-left: 1px solid #ffffff;}
  50% {border-left: 2.5px solid #ffffff;}
  100% {border-left: 5px solid #ffffff;}
}

@-webkit-keyframes aniborder{
  0% {border-left: 1px solid #ffffff;}
  50% {border-left: 2.5px solid #ffffff;}
  100% {border-left: 5px solid #ffffff;}
}

ul.off-canvas-list li a:hover {
  animation: aniborder 0.2s forwards;
  -webkit-animation: aniborder 0.2s forwards;
  background-color: #828B8F;
}

.move-right .exit-off-canvas {
  box-shadow: none;
}

.text-collapse {
  margin-left: 15px;
}

.row {
  margin: 0;
  max-width: 100%;
}

.white {
  color: white;
}

#div-name-file {
  margin-right: -15px;
}

#type-md {
  margin-left: -15px;
}

#alert-markdown-help{
  top:50px;
  width: 45%;
  text-align: center;
  z-index: 9999;
  position: fixed;
  padding: 15px;
}

#alert-markdown-help .syntax {
  height: 500px;
}

#alert-markdown-help .emoji-list, #alert-markdown-help .syntax {
  height: 500px;
  overflow-y: scroll;
}

#alert-markdown-help .emoji-list li {
  list-style: none;
}

#toLoad-alert {
  top:50px;
  left:30%;
  width: 45%;
  visibility: hidden;
  text-align: center;
  z-index: 9999;
  position: fixed;
  padding: 0;
}

#packages-alert {
  top:50px;
  left:30%;
  width: 45%;
  visibility: hidden;
  z-index: 9999;
  position: fixed;
}

#ListPkg {
  max-height: 350px;
  overflow-y: scroll;
}

#tumblr-alert, #blogger-alert, #email-alert, #chEditor-alert{
  top:50px;
  left:30%;
  width: 30%;
  visibility: hidden;
  text-align: center;
  z-index: 9999;
  position: fixed;
  padding: 15px;
}

#reveal-about {
  width: 55%;
  position: fixed;
  z-index: 9999;
  top: 200px;
}

#reveal-about h2{
  text-align: center;
  font-size: 40px;
}

#reveal-about p {
  color: gray;
  font-size: 16px;
  text-align: center;
}

#reveal-about span {
  font-size: 18px;
}

#reveal-about span p {
  text-align: center;
}

#reveal-about .small-12 {
  text-align: center;
}

#reveal-about small {
  font-size: 70%;
  text-align: center;
}

#email-alert label, #chEditor-alert label {
  text-align: left;
}

.reveal-modal button {
  text-transform: uppercase;
  font-family: Roboto, Noto, sans-serif;
  border-radius: 2px !important;
  font-size: 0.9rem;
  font-weight: 500 !important;
  background-color: #00bcd4;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
  padding: 0.85em 1em 0.7em 1em;
}

.reveal-modal a.button {
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto, Noto, sans-serif;
  border-radius: 2px !important;
  font-size: 0.9rem;
  font-weight: 500 !important;
  background-color: #00bcd4;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
  padding: 0.85em 1em 0.7em 1em;
}

#tumblr-alert .button, #blogger-alert .button {
  color: white;
}

.column{
  padding-top: 7px;
  padding-bottom: 7px;
}

.alert-box .close {
  top: 10px;
  opacity:1;
}

#div-help-markdown {
  text-align: right;
}

#div-help-markdown .fa-question-circle {
  color: #636E73;
  font-size: 20px;
}

#editor {
  height: 75vh;
}

.CodeMirror {
  height: 75vh;
}

#output {
  overflow-y: scroll;
  height: 75vh;
  border-left: 3px solid #efefef;
  padding-left: 7px;
}

#output a,
#output a:link,
#output a:hover,
#output a:active,
#output a:visited,
.syntax a,
.syntax a:link,
.syntax a:hover,
.syntax a:active,
.syntax a:visited{
  color: #4183c4;
}

#output a:hover {
  text-decoration: underline;
}

svg .fa {
  display: inline;
}

a {
  color: #3D3D3D;
}

a:link {
  color: #3D3D3D;
}

a:hover {
  color: #1D1F21;
}

a:active {
  color: #1D1F21;
}

a:visited {
  color: #3D3D3D;
}

#loadFile {
  margin-bottom: 15px;
}

#btn-min, #btn-max, #btn-close {
  color: white;
  -webkit-app-region: no-drag;
}

#btn-min:hover {
  color: #FDB92C;
}

#btn-max:hover {
  color: #00D25D;
}

#btn-close:hover {
  color: #FE514B;
}

small.error {
  color: #F44336;
  background: transparent;
  text-align: left;
  font-style: normal;
}
